<!doctype html>
<html>
<head>
    <title>Coding for Entrepreneurs is doing Try Django</title>
    <style>
        body{
        padding:0;
        margin:0;
       font-family: sans-serif;
        }

        nav{

padding: 1rem;
        background: #60afec;
        }

        ul{
        list-style: none;
        }
        li{
        display: inline;
        padding: 0 16px;

        }
        ul::after {
        clear: auto;
        }
    </style>
</head>
<body>

    {% block content %}
    replace me

    {% endblock %}
</body>
</html>
